<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosEj2.css') }}">
    <title>Inicio de sesión</title>
</head>
<body>
    <div class="login-container">
        <h1>Inicio de sesión</h1>
        <form action="/ejercicio2" method="post">
            <input type="text" name="username" placeholder="Ingresa tu nombre" required>
            <input type="password" name="password" placeholder="Ingresa tu contraseña" required>
            <input type="submit" value="Verificar">
        </form>
        {% if message %}
            <p class="{{ category }}">{{ message }}</p>
        {% endif %}
    </div>
</body>
</html>
